<!DOCTYPE html>
<html>
<head>
<title>Workout Timer</title>

<style>
body{
    background:#121212;
    color:white;
    text-align:center;
    padding-top:100px;
    font-family:Arial;
}

.timer{
    font-size:80px;
    color:#00ff99;
}

button{
    padding:15px 30px;
    margin:10px;
}
</style>
</head>

<body>

<h1>⏱ Workout Timer</h1>

<div class="timer" id="timer">
60
</div>

<button onclick="startTimer()">Start</button>

<script>
let time = 60;

function startTimer(){
    const interval = setInterval(()=>{
        time--;

        document.getElementById("timer").innerHTML=time;

        if(time<=0){
            clearInterval(interval);
        }

    },1000);
}
</script>

</body>
</html>